# Dependencies
node_modules
dist
docs
flow-typed

package-lock.json
yarn.lock

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# Uploads
_uploadDiffs

# DB
storage.sqlite

# ctags
tags
