# Dependencies
node_modules
dist
docs
flow-typed

package-lock.json
yarn.lock

# executable distro
dist-exe

# local storage
.storage.caw

# bin export folder
bin

# macOS Finder indexes
.DS_Store

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# Uploads
_uploadDiffs

# DB
storage.sqlite

# ctags
tags
